<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sp.net.dao.impl.WarehouseRecordDaoImpl">
	<sql id="table"> tb_warehouse_record </sql>

	<!-- 用于返回的bean对象 -->
	<resultMap id="BaseResultMap" type="com.sp.net.entity.WarehouseRecord">
		<result column="W_ID" property="wid" jdbcType="VARCHAR"/>
		<result column="M_ID" property="mid" jdbcType="VARCHAR"/>
		<result column="PURCHASE_COUNT" property="purchaseCount" jdbcType="INTEGER"/>
		<result column="MATERIAL_CATEGORY" property="materialCategory" jdbcType="INTEGER"/>
		<result column="PURCHASE_STATE" property="purchaseState" jdbcType="VARCHAR"/>
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP"/>
		<result column="MODIFYTIME" property="createtime" jdbcType="TIMESTAMP"/>
		<result column="STATE" property="state" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		W_ID,
		M_ID,
		PURCHASE_COUNT,
		MATERIAL_CATEGORY,
		PURCHASE_STATE,
		CREATETIME,
		MODIFYTIME,
		STATE
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="com.sp.net.entity.WarehouseRecord">

		<selectKey keyProperty="wid" resultType="String" order="BEFORE">  
	        select uuid() from dual  
	    </selectKey>
		
		INSERT INTO <include refid="table" /> (
			W_ID,
        	M_ID ,
        	PURCHASE_COUNT ,
        	MATERIAL_CATEGORY ,
        	PURCHASE_STATE ,
        	CREATETIME ,
        	MODIFYTIME ,
        	STATE 
        ) VALUES (
        	#{wid,jdbcType=VARCHAR},
			#{mid,jdbcType=VARCHAR},
			#{purchaseCount,jdbcType=INTEGER},
			#{materialCategory,jdbcType=INTEGER},
			#{purchaseState,jdbcType=VARCHAR},
			#{createtime,jdbcType=TIMESTAMP},
			#{modifytime,jdbcType=TIMESTAMP},
			#{state,jdbcType=VARCHAR}
        )
	</insert>

	<!-- 批量插入记录 -->
	<insert id="batchInsert" parameterType="list">

		<selectKey keyProperty="wid" resultType="String" order="BEFORE">  
	        select uuid() from dual  
	    </selectKey>

		INSERT INTO <include refid="table" /> (
			W_ID,
        	M_ID ,
        	PURCHASE_COUNT ,
        	MATERIAL_CATEGORY ,
        	PURCHASE_STATE ,
        	CREATETIME ,
        	MODIFYTIME ,
        	STATE 
        ) VALUES 
		<foreach collection="list" item="item" separator=",">
			(
			#{item.wid,jdbcType=VARCHAR},
			#{item.mid,jdbcType=VARCHAR},
			#{item.purchaseCount,jdbcType=INTEGER},
			#{item.materialCategory,jdbcType=INTEGER},
			#{item.purchaseState,jdbcType=VARCHAR},
			#{item.createtime,jdbcType=TIMESTAMP},
			#{modifytime,jdbcType=TIMESTAMP},
			#{item.state,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>

	<!--更新-->
	<update id="update" parameterType="com.sp.net.entity.WarehouseRecord">
        UPDATE <include refid="table" /> SET
			M_ID = #{mid,jdbcType=VARCHAR},
			PURCHASE_COUNT = #{purchaseCount,jdbcType=INTEGER},
			MATERIAL_CATEGORY = #{materialCategory,jdbcType=INTEGER},
			PURCHASE_STATE = #{purchaseState,jdbcType=VARCHAR},
			CREATETIME = #{createtime,jdbcType=TIMESTAMP},
			MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			STATE = #{state,jdbcType=VARCHAR}
         WHERE W_ID = #{wid,jdbcType=VARCHAR}
	</update>

	<!-- 只更新不为null的属性 -->
	<update id="updateIfNotNull" parameterType="com.sp.net.entity.WarehouseRecord">
		UPDATE <include refid="table" />
		<set>
			<if test="mid != null">
				M_ID =#{mid,jdbcType=VARCHAR},
			</if>
			<if test="purchaseCount != null">
				PURCHASE_COUNT =#{purchaseCount,jdbcType=INTEGER},
			</if>
			<if test="materialCategory != null">
				MATERIAL_CATEGORY =#{materialCategory,jdbcType=INTEGER},
			</if>
			<if test="purchaseState != null">
				PURCHASE_STATE =#{purchaseState,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME =#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifytime != null">
				MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				STATE =#{state,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE W_ID = #{wid,jdbcType=VARCHAR}
	</update>
	
	<!-- 不分页查询 -->
	<select id="listBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
		<include refid="limit_sql" />
	</select>
	
	<!-- 分页查询时计算总记录数 -->
	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		<include refid="table" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<!-- 根据id查询 -->
    <select id="getById" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> 
		FROM <include refid="table" /> 
		WHERE W_ID = #{wid,jdbcType=VARCHAR}  
	</select>

	<!--按id主键删除-->
	<update id="deleteById">
        <!--DELETE FROM <include refid="table" /> WHERE W_ID = #{wid,jdbcType=VARCHAR}-->
		UPDATE <include refid="table" /> SET STATE = 0 WHERE W_ID = #{wid,jdbcType=VARCHAR}  
	</update>

	<!-- ↑↑↑↑↑↑ 如果有新增字段、删除字段、修改字段 以上内容可用模板生成新内容后直接替换 ↑↑↑↑↑↑ -->
	<!-- ↓↓↓↓↓↓ 以下内容是根据需求手动添加或修改的，请勿使用模板内容直接覆盖 ↓↓↓↓↓↓ -->

	<sql id="condition_sql">
		<if test="wid != null and wid !=''">
			and W_ID = #{wid,jdbcType=VARCHAR}
		</if>
		<if test="mid != null and mid !=''">
			and M_ID = #{mid,jdbcType=VARCHAR}
		</if>
		<if test="purchaseCount != null">
			and PURCHASE_COUNT = #{purchaseCount,jdbcType=INTEGER}
		</if>
		<if test="materialCategory != null">
			and MATERIAL_CATEGORY = #{materialCategory,jdbcType=INTEGER}
		</if>
		<if test="purchaseState != null and purchaseState !=''">
			and PURCHASE_STATE = #{purchaseState,jdbcType=VARCHAR}
		</if>
		<if test="createtime != null">
			and CREATETIME = #{createtime,jdbcType=TIMESTAMP}
		</if>
		<if test="modifytime != null">
			and MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
		</if>
		<if test="state != null and state !=''">
			and STATE = #{state,jdbcType=VARCHAR}
		</if>
	</sql>

	<sql id="limit_sql">
		<if test="pageIndex != null and pageSize != null">
			LIMIT #{pageIndex},#{pageSize}
		</if>
	</sql>
	
</mapper>

